
$default-typo: 'Open Sans', sans-serif;
$default-font-size: 16px;

// Headings
$headings-font-family: $default-typo;
$headings-font-size-h1: 2.5rem;
$headings-font-weight-h1: 700;
$headings-font-size-h2: 2rem;
$headings-font-weight-h2: 700;
$headings-font-size-h3: 1.75rem;
$headings-font-weight-h3: 700;
$headings-font-size-h4: 1.5rem;
$headings-font-weight-h4: 700;
$headings-font-size-h5: 1.25rem;
$headings-font-weight-h5: 700;
$headings-font-size-h6: 1rem;
$headings-font-weight-h6: 700;