h1 {
    font-size: $headings-font-size-h1;
    align-self: center;
    margin: 15px 0;
}

h2 {
    font-size: $headings-font-size-h2;
    align-self: center;
    margin: 15px 0;
}

h3 {
    font-size: $headings-font-size-h3;
    align-self: center;
    margin: 10px 0;
}

h4 {
    font-size: $headings-font-size-h4;
    align-self: center;
    margin: 10px 0;
}
